{% extends 'main/layout.html' %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}
    {% load static %}
    <main class="layout-main">
        <div class="container">
            <section class="card-panel">
                <div class="card-header d-flex">
                    <h1>Вход на сайт</h1>
                </div>
                <div class="card-body single-column">
                    <form method="POST" class="search-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="form-label">Логин</label>
                            <input type="text" id="username" name="username" class="form-input" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" id="password" name="password" class="form-input" required>
                        </div>

                        <button type="submit" class="submit-btn">Войти</button>
                    </form>

                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
